@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --primary-font: 'pjs';
}

@layer utilities {
    .cuBox {
        @apply border-[1.5px] border-dashed border-[#CED4DA] rounded-xl;
    }
}

.no-cancel-button::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

@font-face {
    font-family: 'pjs';
    src: url('/fonts/PJS/PlusJakartaSans-Variable.woff2') format('woff2'),
        url('/fonts/PJS/PlusJakartaSans-Variable.woff') format('woff'),
        url('/fonts/PJS/PlusJakartaSans-Variable.ttf') format('truetype');
    font-weight: 200 800;
    font-display: swap;
    font-style: normal;
}

.primary-font {
    font-family: var(--primary-font);
}